In [47]:
import pandas as pd
import snowflake.connector
conn = snowflake.connector.connect(user='INNOKENTYVOLOSHIN',password='1Q2w3e4r',account='iwb20380.us-east-1')

In [48]:
sql = """
CREATE OR REPLACE TABLE JENKINSTEST.PUBLIC.TARGET_FINAL AS
(
SELECT * FROM JENKINSTEST.PUBLIC.SOURCE_TEST
);
"""

In [49]:
query = conn.cursor().execute(sql).fetchall()

In [52]:
sql2 = """
SELECT * FROM JENKINSTEST.PUBLIC.SOURCE_TEST;
"""

In [53]:
query2 = conn.cursor().execute(sql2).fetchall()

In [54]:
df = pd.DataFrame(query2)
df

     0           1           2
0    1   John Doe1  2022-07-17
1    2   John Doe2  2022-07-17
2    3   John Doe3  2022-07-17
3    4   John Doe4  2022-05-15
4    5   John Doe5  2022-07-17
5    6   John Doe6  2022-07-17
6    7   John Doe7  2022-07-17
7    8   John Doe8  2022-05-15
8    9   John Doe9  2022-07-17
9   10  John Doe10  2022-07-17
10  11  John Doe11  2022-07-17
11  12  John Doe12  2022-05-15